#Règles pour la langage Java
*.class


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Règles pour le langage C++
*.o
*.exe
*.out

#Règle pour Gedit
*~

#Règles pour les archives
*.zip
*.tar.gz

#Règle pour les pdf
*.pdf

#Règle pour IntelliJ
*.iml
.idea/